version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    ignore:
      # Versions newer than 2.1.0 and newer of numpy do not support Python 3.9. Revisit when 3.9 is dropped.
      - dependency-name: "numpy"
        versions: [">=2.1.0"]
  - package-ecosystem: gradle
    directory: /java/
    schedule:
      interval: daily
    groups:
      grpc-deps:
        patterns:
          - "io.grpc*"
  - package-ecosystem: pip
    directory: /biomedicus_client/
    schedule:
      interval: daily
