name: Python package

on:
  pull_request:
    branches: main
  schedule:
    - cron: 0 8 * * *
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, macos-latest]
        java-version: ['11', 'x']
        python-version: ['3.7', '3.10']
        exclude:
          - java-version: '11'
            python-version: '3.10'
          - java-version: 'x'
            python-version: '3.7'
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v3
      id: cache
      with:
        path: |
          ${{ HOME }}/.biomedicus/data
        key: ${{ hashFiles('python/biomedicus/data_version.py') }}
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install flake8 pytest
        pip install git+https://github.com/nlpie/mtap@main#egg=mtap
        pip install ./biomedicus_client
        pip install .[test] --no-deps emoji --extra-index-url https://download.pytorch.org/whl/cpu
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Download models
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        b9 download-data --with-stanza
    - name: Test with pytest
      run: |
        pip install pytest
        pytest -s python/tests --integration
